// colori frontend

$primary-color-frontend: #1F2D3A;
$secondary-color-frontend: #BF9673;
$third-color-frontend: #BBBF36;
$fourth-color-frontend: #F28B0C;
$fifth-color-frontend: #F2F2F2;

// colori-backend

$primary-color-backend: #1F2D3A;
$secondary-color-backend: #3F5925;
$third-color-backend: #758C20;
$fourth-color-backend: #59372F;
$fifth-color-backend: #F2F2F2;


